<div id="<%= dom_id subscription %>">
  <p>
    <strong>Book:</strong>
    <%= subscription.book_id %>
  </p>

  <p>
    <strong>Subscriber:</strong>
    <%= subscription.subscriber_id %>
  </p>

  <p>
    <strong>Delete at:</strong>
    <%= subscription.delete_at %>
  </p>

  <p>
    <strong>Is active:</strong>
    <%= subscription.is_active %>
  </p>

</div>
